header {
  grid-area: header;
}

.h1 {
  text-decoration: none;
  align-content: center;
}

.navbar-brand {
  width: auto;
  height: 90px;
}
.navbar-brand img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(171, 203, 243, 0.1098039216);
}

.nav-links {
  display: flex;
  gap: 20px;
}
.nav-links li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links a {
  color: #030200;
  text-decoration: none;
}
.nav-links a:hover {
  background-color: #507687;
}

.Imagen1 {
  grid-column: 1/5;
  height: 600px;
  margin-bottom: 40px;
}
.Imagen1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  grid-area: main;
  min-height: 100%;
}

.carousel-item {
  display: flex;
  align-items: center;
}
.carousel-item img {
  object-fit: cover;
  height: 300px;
  margin-right: 15px;
}

.container-premios {
  margin-bottom: 15px;
  height: 300px;
}

.premios {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: auto;
}
.premios img {
  width: 130px;
  object-fit: cover;
}

main {
  grid-area: main;
  min-height: 100%;
}

.carousel-item {
  display: flex;
  align-items: center;
}
.carousel-item img {
  object-fit: cover;
  height: 300px;
  margin-right: 15px;
}

.ojofilm {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FCFAEE;
  font-size: 5rem;
  z-index: 1;
  text-align: center;
}

.equipo {
  height: 330px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.equipo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale(80%) blur(2px);
}

.seccion-texto {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.8;
  font-family: "Arial", sans-serif;
}
.seccion-texto p {
  margin-bottom: 20px;
  text-align: justify;
}

.texto-directora {
  margin-bottom: 50px;
}
.texto-directora div {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.texto-directora div img {
  width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.texto-directora div p {
  max-width: 900px;
  text-align: justify;
  margin: 0;
  line-height: 1.6;
  transform: translate(2%, 50%);
}

.contenedor-festivales {
  height: 300px;
}
.contenedor-festivales img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.festivales {
  width: 100%;
  height: 500px;
}
.festivales img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dospeliculas {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.dospeliculas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pelicula {
  height: 400px;
  width: 700px;
}
.pelicula img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rodaje {
  height: 330px;
  width: 100%;
}
.rodaje img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: opacity(50%);
}

.formulario-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: 2/5;
  margin-bottom: 20px;
  margin-top: 20px;
}
.formulario-section div {
  margin-bottom: 20px;
}
.formulario-section div h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FCFAEE;
  font-size: 5rem;
  z-index: 1;
  text-align: center;
}

.nombre input,
.email input,
.asunto input,
.mensaje input {
  width: 559px;
}
.nombre .mensaje,
.email .mensaje,
.asunto .mensaje,
.mensaje .mensaje {
  height: 184px;
}

.buttonsend input {
  width: 80px;
  height: 28px;
}

h2 {
  margin: 24px;
}

.Imagenppal {
  display: grid;
  grid-column: 1/5;
  height: 580px;
  width: 100%;
  background-color: #ffffff;
  border-bottom-left-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.278);
  padding-bottom: 200px;
  overflow: hidden;
}
.Imagenppal div {
  height: 450px;
}
.Imagenppal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Imagenppal p {
  position: relative;
  font-size: 0.85rem;
  line-height: 1.6;
  text-align: justify;
  margin-top: 10px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;
}

.container-cined {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 600px;
}

.container-cinef {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  height: 600px;
}

.container-tv {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  height: 600px;
  margin-bottom: 80px;
}

.divlinaje,
.divnewen,
.divpueblo,
.divisabel {
  width: 552px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.618);
  padding: 20px;
  padding-bottom: 160px;
  overflow: hidden;
}
.divlinaje img,
.divnewen img,
.divpueblo img,
.divisabel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 16px;
}
.divlinaje p,
.divnewen p,
.divpueblo p,
.divisabel p {
  position: relative;
  font-size: 0.85rem;
  line-height: 1.6;
  text-align: justify;
}

.btn {
  width: 200px;
}

.container-premios {
  display: flex;
  gap: 20px;
  height: 250px;
  justify-content: center;
  margin-bottom: 20px;
}

.premios {
  height: 150px;
  width: auto;
  margin-top: 60px;
}
.premios img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  grid-area: footer;
}

.contenedor-footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #B8001F;
  text-align: justify;
  padding: 20px;
}
.contenedor-footer .contacto {
  margin-top: 10px;
  font-size: 0.8rem;
  text-align: center;
}
.contenedor-footer .rrss {
  margin-top: 10px;
  font-size: 0.8rem;
}
.contenedor-footer .social-icons {
  display: grid;
  grid-column: 4;
}
.contenedor-footer .rrss li, .contenedor-footer .social-icons img, .contenedor-footer .contacto h3, .contenedor-footer .contacto a {
  color: #FCFAEE;
  list-style-type: none;
  text-decoration: none;
}
.contenedor-footer .social-icons img {
  width: 21px;
  margin-right: 10px;
}
.contenedor-footer .contacto {
  grid-column: 1;
  line-height: 0.5;
  font-family: "Arial", sans-serif;
}

/**movil**/
@media (max-width: 600px) {
  .navbar-brand img {
    width: 25px;
    height: 20px;
  }
  .carousel-inner .col-md-3 {
    width: 100%;
    padding: 5px;
  }
  .container-premios .premios img {
    width: 50px;
    margin: 0 auto;
  }
  .contenedor-footer {
    display: block;
    text-align: center;
  }
  .rrss li {
    display: inline-block;
    margin: 0 10px;
  }
}
/**tablets**/
@media (min-width: 600px) and (max-width: 1024px) {
  .navbar-brand img {
    width: 30px;
    height: 24px;
  }
  .carousel-inner .col-md-3 {
    width: 50%;
    padding: 10px;
  }
  .container-premios .premios img {
    width: 80px;
    margin: 10px;
  }
  .contenedor-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rrss {
    display: flex;
    gap: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #ffffff;
}

/*# sourceMappingURL=estilos.css.map */
