//Footer
footer {
    grid-area: footer;
}

.contenedor-footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #B8001F;
    text-align: justify;
    padding: 20px;
    .contacto{
        margin-top: 10px;
        font-size: 0.8rem;
        text-align: center;
    }
    .rrss {
        margin-top: 10px;
        font-size: 0.8rem;

    }
    .social-icons{
        display: grid;
        grid-column: 4;
        
    }

    

    .rrss li, .social-icons img, .contacto h3, .contacto a {
        color: #FCFAEE;
        list-style-type: none;
        text-decoration: none;
    }

    .social-icons img {
        width: 21px;
        margin-right: 10px;
    }

    .contacto {
        grid-column: 1;
        line-height: 0.5;
        font-family: 'Arial', sans-serif;
    }
}
