main {
    grid-area: main;
    min-height: 100%;
}

//index


.carousel-item {
    display: flex;
    align-items: center;

    img {
        object-fit: cover;
        height: 300px;
        margin-right: 15px;
    }
}

//somos
.ojofilm {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FCFAEE;
    font-size: 5rem;
    z-index: 1;
    text-align: center;
}

.equipo {
    height: 330px;
    width: 100%;
    overflow: hidden;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: grayscale(80%) blur(2px);
    }
}

.seccion-texto {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.8;
    font-family: 'Arial', sans-serif;

    p {
        margin-bottom: 20px;
        text-align: justify;
    }
}

.texto-directora {
    margin-bottom: 50px;

    div {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;

        img {
            width: 250px;
            height: auto;
            object-fit: cover;
            border-radius: 10px;
        }

        p {
            max-width: 900px;
            text-align: justify;
            margin: 0;
            line-height: 1.6;
            transform: translate(2%, 50%);
        }
    }
}

//festivales
.contenedor-festivales{
    height: 300px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.festivales{    
        width: 100%;
        height: 500px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}
.dospeliculas{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.pelicula{
    height: 400px ;
    width: 700px;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;  

    }
}
//contacto
.rodaje {
    height: 330px;
    width: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: opacity(50%);
    }
}

.formulario-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 2/5;
    margin-bottom: 20px;
    margin-top: 20px;

    div {
        
        margin-bottom: 20px;

        h2 {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #FCFAEE;
            font-size: 5rem;
            z-index: 1;
            text-align: center;
        }
    }
}

.nombre,
.email,
.asunto,
.mensaje {
    input {
        width: 559px;
    }

    .mensaje {
        height: 184px;
    }
}

.buttonsend {
    input {
        width: 80px;
        height: 28px;
    }
}

//producciones
h2 {
    margin: 24px;
}

.Imagenppal {
    display: grid;
    grid-column: 1 / 5;
    height: 580px;
    width: 100%;
    background-color: #ffffff;
    border-bottom-left-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.278);
    padding-bottom: 200px;
    overflow: hidden;

    div {
        height: 450px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    p {
        position: relative;
        font-size: 0.85rem;
        line-height: 1.6;
        text-align: justify;
        margin-top: 10px;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 20px;
    }
}

.container-cined{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: 600px;
}
.container-cinef {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);    
    height: 600px;
}
.container-tv{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);    
    height: 600px;
    margin-bottom: 80px;

}

.divlinaje,
.divnewen,
.divpueblo,
.divisabel {
    width: 552px;
    height: auto;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.618);
    padding: 20px;
    padding-bottom: 160px;
    overflow: hidden;
   
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 16px;
    }

    p {
        position: relative;
        font-size: 0.85rem;
        line-height: 1.60;
        text-align: justify;
    }
    
}
.btn{
    width: 200px;

}


//premios
.container-premios {
    display:flex;
    gap: 20px;
    height: 250px;
    justify-content: center;
    margin-bottom: 20px;
}

.premios {
    
    height: 150px;
    width: auto;
    margin-top: 60px;
    

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}